# Output folder
_builds/

# Other
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
target_wrapper.*
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user*